<!doctype html>
<html>
<head>
    <title>codex // georges madalinski</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Coda|Raleway|Dosis|Josefin+Sans|Quicksand" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/style_identification.css"/>

</head>
<body>
<div class="error-page">

  <div class="headerBar">
    <div class="tool-sect page-tools">
      <div class="toolbox">
        <div class="toolbox-box app-title">codex</div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="error-msg">
    {{{msg}}}
  </div>
</div>

</div>
</body>
</html>
